{% extends "base.html" %}

{% block content %}
        <nav class="container">
            <ul>
            <li>
                    <a href="/purchase">Compra</a>
                </li>
                <li>
                    <a href="/status">Status</a>
                </li>
            </ul>
        </nav>
            <div class = "h2">
                <h4>MOVIMIENTOS</h4>
            </div>
            {% if movements %}
            <table role="grid">
            <thead>
               <tr>
                    <th>Fecha</th> 
                    <th>Hora</th>
                    <th>From</th>
                    <th>Q</th>
                    <th>To</th>
                    <th>Q</th>
                    <th>PU</th>
                    

                </tr>
            </thead>
            <tbody>
                
                {% for movement in movements %}
                <tr>
                    <td>{{movement.date}}</td>
                    <td>{{movement.time}}</td>
                    <td>{{movement.moneda_from}}</td>
                    <td>{{movement.cantidad_from}}</td>
                    <td>{{movement.moneda_to}}</td>
                    <td>{{"{:,.5f}".format(movement.cantidad_to)}}</td>
                    <td>{{"{:,.5f}".format(movement.cantidad_from / movement.cantidad_to)}}</td>
                </tr>
                {% endfor %}
                {% else%}
                <tr>
                    <td colspan="7" class="lista-vacia">NO HAY MOVIMIENTOS QUE MOSTRAR</td>
                </tr>
                {% endif %}
               

            </tbody>

        </table>
     
{% endblock %}