{% extends "base.html" %}

{% block content %}
        <nav class="container">
            <ul>
                <li><a href="/purchase" role="button" class="contrast">Comprar</a></li>
              </ul>
              <h2><strong>Movimientos</strong></h2>
              <ul>
                <li><a href="/status" role="button" class="contrast">Estado</a></li>
              </ul>
        </nav>
            <div class = "h2">
            </div>
            {% if movements %}
            <table role="grid">
            <thead>
               <tr>
                    <th>Fecha</th> 
                    <th>Hora</th>
                    <th>From</th>
                    <th>Q</th>
                    <th>To</th>
                    <th>Q</th>
                    <th>PU</th>
                </tr>
            </thead>
            <tbody>
                
                {% for movement in movements %}
                <tr>
                    <td>{{movement.date}}</td>
                    <td>{{movement.time}}</td>
                    <td>{{movement.moneda_from}}</td>
                    <td>{{movement.cantidad_from}}</td>
                    <td>{{movement.moneda_to}}</td>
                    <td>{{"{:,.8f}".format(movement.cantidad_to)}}</td>
                    <td>{{"{:,.8f}".format(movement.cantidad_from / movement.cantidad_to)}}</td>
                </tr>
                {% endfor %}
                {% else%}
                <tr>
                    <strong><td>Sin movimientos</td></strong>
                </tr>
                {% endif %}
               
            </tbody>

        </table>
     
{% endblock %}