{% extends "base.html" %}

{% block content %}

<nav class="container">
    <ul>
        <li><a href="/" role="button" class="contrast">Inicio</a></li>
      </ul>
      <h2><strong>Comprar</strong></h2>
      <ul>
        <li><a href="/status" role="button" class="contrast">Estado</a></li>
      </ul>
</nav>
<article>
    <table>
    <form action="/purchase" method="post">
            {{ form.csrf_token }}

        <div class="grid">
            <div class="coin_from">
            {{ form.coin_from.label }}
            {{ form.coin_from }}        
            
            </div>

            <div class="coin_to">
            {{ form.coin_to.label }}
            {{ form.coin_to }}
           
            </div>
        </div>

        <div class="grid"> 
            <div class="quantity_from">
            {{ form.quantity_from.label }}
            {{ form.quantity_from }}

            </div> 
            <div class="quantity_to">
                <label for="cantidad_to">Q: </label>
                <p class="paper-label"> {{ quantity_to }}</p>
            </div>
        </div>
        
        <div class="boton-calcular",aria-busy="true">
            {{form.calcular}}
            <progress></progress>
        </div>
             
        <div 
            class="boton-aceptar">
            {{form.aceptar}}
            <div>
        </div>    
    </form>
    </table>
</article>

{% endblock %}